.giftPromo_container {
    width: 930px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    background: white;
    border-radius: 20px;
}

.giftPromo_container_title {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.giftPromo_container_title h3 {
    font-size: 18px;
    color: black;
    margin-top: 10px;
}

.giftPromo_container_images {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.giftPromo_container_images img {
    width: 280px;
    height: 280px;
}
