.card_link {
    text-decoration: none;
}

.card_container {
    width: 248px;
    height: 376px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    background: white;
}

.card_container:hover {
    transform: scale(1.02);
} 

.card_sections-container {
  width: 230px;
  height: 356px;
  margin: auto;
}

.card_sections-container hr {
    border: none;
    height: 1px;
    background: gray;
}

.card_img-container {
    width: 100%;
    height: 50%;
}

.card_img {
    width: 100%;
    height: 100%;
}

.card_info {
    width: 100%;
    height: auto;
    background: white;
    text-align: left;
}

.card_price-container {
    margin-top: 1px;
}

.card_price {
    color: #000000CC;
    font-size: 24px;
    
}

.card_envio-container {
    margin-top: 0;
}

.card_envio {
    color: #00A650;
    font-size: 14px;
    font-weight: bold;
}

.card_info h3 {
    color: #000000;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 4px;
}

.card_button {
    width: 100%;
    height: 25px;
    margin-top: 10px;
    border-radius: 3px;
    background: #747cd3;
    color: #fff;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    border: none;
    cursor: pointer;
}

.card_button:hover {
    background: #5f65ac;
    transform: scale(103%);
    transition: 0.4s;
}