.card_container {
    width: 248px;
    height: 410px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    background: white;
}

.card_sections-container {
  width: 230px;
  height: 406px;
  margin: auto;
}

.card_img-container {
    width: 100%;
    height: 50%;
}

.card_img {
    width: 100%;
    height: 100%;
}

.card_info {
    width: 100%;
    height: auto;
    background: white;
    text-align: left;
}

.card_price {
    color: #000000CC;
    font-size: 24px;
    margin-top: 2px;
}

.card_envio {
    color: #00A650;
    font-size: 14px;
    font-weight: bold;
}

.card_info h3 {
    color: #000000;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 4px;
}

.card_button {
    width: 120px;
    border-radius: 3px;
    background: #3483fa;
    color: #fff;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    border: none;
    cursor: pointer;
}

.card_button:hover {
    background: #2968c5;
    transform: scale(105%);
    transition: 0.4s;
}