.nav_container {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    background: transparent;
}

.nav_section-buscador {
    width: 350px;
    height: 50px;
    margin-top: 30px;
    background: transparent;
}

.buscador {
    display: flex;
}

.buscador_input {
  position: relative;
  width: 300px;
  height: 35px;
  margin: 0 0 30px 0;
  padding: 10px 10px 10px 40px;
  border-radius: 20px;
  border: none;
  background: #ffffff;
}

.nav_icon {
  position: absolute;
  font-size: 25px;
  color: rgb(139, 139, 139);
  transform: translateX(-290px);
  top: 35px;
}

.buscador_input::placeholder {
    font-size: 14px;
}

.buscador_input:focus {
    outline: none;
    transform: scale(105%);
    border: 4px solid #eb611f;
}

.nav_logo-container {
    width: 300px;
    height: 100%;
}

.nav_logo-container a {
    text-decoration: none;
    margin-right: 150px;
}

.nav_logo-span-1 {
    font-size: 28px;
    font-weight: bold;
    color: #eb611f;
}

.nav_logo-span-2 {
    font-size: 28px;
    color: #eb611f;
}

.nav_logo {
    font-size: 30px;
    color: #eb611f;
}

.nav_container-buscador {
    margin-right: 15px;
}

.nav_container-botones {
    margin-right: 10px;
}

.nav_section-button {
    width: 650px;
    height: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    background: transparent;
}


.nav_button {
    width: 150px;
    height: 35px;
    border-radius: 20px;
    background: #8790ef;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.nav_button:hover {
    background: #5f65ac;
    transform: scale(105%);
    transition: 0.5s;
}

.cart_container {
    width: 100px;
    height: 50px;
    margin-left: 10px;
    display: flex;
    
}

.cart_icon-container {
    margin: auto;
    
}

.cart_icon {
    font-size: 28px;
    color: #d3561c;
}

.cart_icon-button {
    border: none;
    cursor: pointer;
    background: transparent;
}

.cart_icon-button:hover {
    transform: scale(1.1);
}

.cart_input-container {
  width: auto; 
  margin: 0;  
}

.cart_input-items {
    width: 25px;
    text-align: center;
    border: none;
    border-radius: 30px;
    background: whitesmoke;
    color: black;
    font-weight: 600;
    font-size: 12px;
}

.cart_input-price {
    width: 40px;
    border: none;
    background: transparent;
    color: whitesmoke;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
}
