* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #170149;;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bgAccentLinkPressed: #186fbe;
  --bgAccentBrandMutedPressed: #fce6d9;
  --bgAccentBrandAltMutedPressed: #e9eaec;
  --bgAccentLinkMutedPressed: #dbecfe;
  --textAccentBrand: #f7641b;
  --textAccentPrice: #f7641b;
  --textAccentLink: #005498;
  --textAccentBrandAlt: #6b6d70;
  --textAccentPremium: #813ef6;
  --textAccentPremiumHover: #8856f5;
  --textAccentPremiumPressed: #9067f6;
  --textAccentBrandHover: #eb611f;
}

